$color-primary: #878B62;
$color-secondary: #D97823;
$color-error: #FF0000;
$color-success: #44FF71;
$color-white: #fff;
$color-black: #000;
$color-gray: #777;
$color-lightgray: #B5BAC3;
$color-darkgray: #6e7177;

$pad: 0.5em;

$font-sansserif: sans-serif;
$font-monospace: monospace;
