$color-background: #fcfff5;
$color-primary: #91aa9d;
$color-secondary: #3e606f;
$color-error: red;
$color-success: green;
$color-white: #fcfff5;
$color-black: #000;
$color-lightgrey: #d1dbbd;

$pad: 0.5em;
$font-sans: Helvetica;
$font-serif: Georgia;
